{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsblender</title>
	<link rel="stylesheet" href="{% static "/css/tailwind.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        html body{
            font-family: 'Open Sans', sans-serif;
        }

        .sidebar::-webkit-scrollbar{
        width: 8px;
        background-color: #121212;
    }

    .sidebar::-webkit-scrollbar-thumb{
        border-radius: 8px;
        background-color: #535353;
    }

    .content::-webkit-scrollbar{
        width: 8px;
        background-color: #181818;
    }

    .content::-webkit-scrollbar-thumb{
        border-radius: 8px;
        background-color: #535353;
    }   
    </style>
</head>
<body class="text-white"> 
    <main>
        <!--left navbar-->
        <div class="flex flex-col h-screen">
            <div class="flex-1 flex overflow-y-hidden">
                <div class="sidebar bg-gray-800 w-48 flex-none overflow-y-auto">
                    <div class="left-navbar text-center">
                        <ul>
                            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                            <li><a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i>Trending</a></li>
                            <li><span class="float-left font-bold">Feeds</span></li><br>
                            <li><a href="#">Create New Feed</a></li>
                        </ul>
                    </div>              
                </div>
                <!--Content-->
                <div class="content bg-gray-900 flex-1 overflow-y-auto">
                        <h1>Newsblender</h1>
                        <form>
                            <label>Topic Search
                                <input class="text-black rounded" type="text" name="topic" />
                            </label>
                            <button class="bg-blue-500 hover:bg-blue-700 rounded" type="submit">Search</button>
                        </form>
						{% if article_list %}
							<ul>
								{% for article in article_list %}
									<li style="border-bottom: 1px solid;">
										<h2><a href="{{ article.link }}">{{ article.title }}</a></h2>
										{% if article.author %}
											{{ article.author }}<br />
										{% endif %}
										{{ article.pub_date }}<br />

										{% autoescape off %}
											{{ article.description }}
										{% endautoescape %}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
                    </div> 
                </div>
            </div>
    </main>

</body>
</html>
